body {
  background-color: orange;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 75%;
}



.custom-button {
  margin: 2em;
  background-color: orange;
  border-radius: 0px;
  border-color: grey;

}

.footer {
  margin-top: 7em;
}

.contact {
  margin: 2em;
}
