body {
  background-color: orange;
  font-family: 'Raleway', sans-serif;
}

.img-home {
  margin: 2em;
  max-width: 75%;
}

.img-small {
  max-width: 33%;
}


.custom-button {
  margin: 2em;
  background-color: orange;
  border-radius: 0px;
  border-color: grey;

}

.footer {
  margin-top: 7em;
}

.text-container {
  margin: 2em;
}
